<%- include('includes/head'), {page: 'index' } %>
    <!-- Header Start -->
    <div class="header">
        <div class="site-blocks-cover">
            <div class="img-wrap">
                <div class="owl-carousel slide-one-item hero-slider">
                    <% slide.forEach(s=>{ %>
                        <div class="slide">
                            <img src="<%=s.img%>" alt="img-slide">
                        </div>
                        <%}) %>
                </div>
            </div>
            <div class="container h-2">
                <div class="row">
                    <div class="col-md-6 ml-auto align-self-center">
                        <div class="intro">
                            <img src="/main/img/logo-b.png" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- END .site-blocks-cover -->
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid pt-5">
        <div class="container pt-5">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid mb-4 mb-lg-0" src="<%=about.img%>" alt="" style="width: 100%;">
                </div>
                <div class="col-lg-6" style="text-align: right;">
                    <h1 class="display-4 text-uppercase mb-4">من نحن</h1>
                    <!-- <h5 class="text-uppercase text-primary mb-3">Clita elitr et amet et ipsum sea. Ipsum stet kasd ea et no est duo diam. Lorem dolores eos ut nonumy ipsum sit clita lorem no amet dolor dolore, stet sit dolor justo</h5> -->
                    <p class="mb-4" dir="rtl">
                        <%=about.ar.slice(0, 200)%>...
                    </p>
                    <a href="/about" class="btn btn-primary text-uppercase py-3 px-5">اقرا المزيد</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">خدمات الجمعية</h1>
            <div class="row">
                <% servs.forEach(s=>{ %>
                    <div class="col-lg-3 mb-2">
                        <div class="service-item rounded p-5 mb-4">
                            <img src="<%=s.img%>" alt="" style="width: 4rem;">
                            <!-- <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i> -->
                            <h4 class="text-uppercase mb-4">
                                <%=s.title.ar.split(' ')[0]%> <span class="d-block text-body">
                                    <% let i = 1%>
                                    <%s.title.ar.split(' ').forEach(c=>{%>
                                        <%=s.title.ar.split(' ')[i]%>
                                        <%i++%>
                                    <%})%>
                                </span></h4>
                            <p class="m-0"><%=s.content.ar%></p>
                        </div>
                    </div>
                    <%})%>
            </div>
        </div>
        <!-- Services End -->


        <!-- Portfolio Start -->
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <h1 class="display-4 text-uppercase text-center mb-5">مشاريعنا</h1>
                <div class="row portfolio-container">
                    <%projects.forEach(p => { %>
                        <div class="col-lg-4 col-md-6 mb-4 portfolio-item first text-center">
                            <div class="position-relative rounded overflow-hidden mb-2">
                                <img class="img-fluid w-100" src="<%=p.imgs[0]%>" alt="صورة المشروع">
                                <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                    <a href="/project/<%=p._id%>">
                                        <i class="fa fa-4x fa-plus text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>
        <!-- Portfolio End -->

        <!-- Team Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="display-4 text-uppercase text-center mb-5">تواصل مع الفريق</h1>
                <div class="owl-carousel team-carousel position-relative" style="padding-left: 30px;">
                    <% team.forEach(t=>{%>
                        <div class="team-item rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="<%=t.img%>" alt="">
                                <div class="team-overlay">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="https://<%=t.twitter%>"><i
                                                class="fab fa-twitter"></i></a>
                                        <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="https://<%=t.facebook%>"><i
                                                class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="https://<%=t.linkedin%>"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light text-center p-4">
                                <h4 class="text-uppercase"><%=t.name%></h4>
                                <p class="m-0"><%=t.job%></p>
                            </div>
                        </div>
                    <%})%>
                    
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- Contact Start -->
        <div class="container-fluid py-5 px-0">
            <h1 class="display-4 text-uppercase text-center mt-5 mb-5">تواصل معنا</h1>
            <div class="row mx-0">
                <div class="col-12 px-0" style="height: 500px;">
                    <div class="position-relative h-100">
                        <iframe class="position-relative w-100 h-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="row mx-0 justify-content-center" style="margin-top: -200px; text-align: left;  ">
                <div class="col-lg-6 col-md-8 col-sm-10 px-0">
                    <div class="contact-form bg-white rounded p-5">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="control-group">
                                        <input type="text" class="form-control bg-light border-0 p-4" id="name"
                                            placeholder="الاسم" required="required"
                                            data-validation-required-message="الرجاء ادخال الاسم" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group">
                                        <input type="email" class="form-control bg-light border-0 p-4" id="email"
                                            placeholder="الايميل" required="required"
                                            data-validation-required-message="الرجاء ادخال الاسم" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control bg-light border-0 p-4" id="subject"
                                    placeholder="الموضوع" required="required"
                                    data-validation-required-message="الرجاء ادخال الموضوع" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control bg-light border-0 py-3 px-4" rows="5" id="message"
                                    placeholder="الرسالة" required="required"
                                    data-validation-required-message="الرجاء ادخال الرسالة"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary text-uppercase py-3 px-5" type="submit"
                                    id="sendMessageButton">ارسال</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <%- include("includes/footer") -%>