<%- include('includes/head') -%>
    <div class="container">
        <!-- learn more Start -->
        <div class="learn-more text-center" style="margin-top: 50px; margin-bottom: 50px;">
            <h1 class="more">تفاصيل المشروع</h1>
            <img src="<%=p.imgs[0]%>" style="margin-top: 2rem; max-width: 100%;">
        </div>


        <!-- learn more End -->

        <div class="row learn-more2" style="text-align: right;">
            <div class="col-lg-7 row">
                <img src="<%=p.imgs[1]%>" style="max-width: 100%;">
            </div>
            <div class="col-lg-5" style="font-size:20px;">
                <h4>
                    <p>وصف المشروع</p>
                </h4>
                <div>
                    <%=p.desc.ar%>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/footer') -%>